/* Header component styles */

.header {
    background: #333;
    color: #fff;
    text-align: left;
    padding: 1rem;
    display: flex; /* Display the header and navigation in a row */
    align-items: center; 
  }

  .nav {
    font-size: large;

    ul {
      display: flex; /* Display the list items in a row */
      justify-content: center; /* Center the list items horizontally */
      list-style: none;
      padding: 0;
  
      li {
        margin: 0;
        padding: 0;
      }
  
      a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        margin: 0 1rem;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
